<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Pannel</title>
  </head>
  <body>
    <div class="admin-container">
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- <h2>Admin Panel</h2> -->
        <ul>
          <li><a routerLink="manage-profile">Manage Profile</a></li>
          <li><a routerLink="manage-users">Manage Users</a></li>
          <li><a routerLink="manage-posts">Manage Posts</a></li>
          <!-- <li><a routerLink="moderation">Moderation</a></li> -->
          <li><a routerLink="manage-categories">Manage Categories</a></li>
          <li><a routerLink="manage-themes">Manage Themes</a></li>
          <!-- <li><a routerLink="manage-comments">Manage Comments</a></li> -->
        </ul>
      </div>

      <!-- Right-side Content -->
      <div style="flex-grow: 1; padding: 20px">
        <router-outlet></router-outlet>
      </div>
    </div>
  </body>
</html>
