<div class="navbar">
  <span class="admin-text">ADMIN</span>
  <div class="spacer"></div>
  <a mat-raised-button color="accent" routerLink="">Home</a>
  <a mat-raised-button color="warn" routerLink="adminlogin" *ngIf="!isLoggedIn()">Login</a>
  
  <!-- Profile button with round shape and image -->

  <a mat-raised-button color="warn" (click)="logout()">Log-out</a>
  <a mat-raised-button color="primary" routerLink="admin-profile" class="profile-btn">
    <img src="admin-profile2.png" alt="Profile" class="profile-image" />
  </a>

</div>
